.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px grey;
    margin-left: 30px;


    &_title {
        text-align: center;
        font-family: "Tsukimi rounded";
        font-size: 1.2em;
    }
    &_photos {
        display: flex;
        position: relative;
        width: 90%;
        align-items: flex-end;
    }
    &_container {
        display: flex;
        justify-content: center;
    }
    &_promo {
        width: 20%;
        object-fit: contain;
        z-index: 2;
        position: absolute;
    }
    &_cover {
        width: 80%;
        object-fit: contain;
        z-index: 1;
    }
    &_price {
        text-align: center;
        font-family: "Tsukimi rounded";
    }
    &_button {
        color: #edb964;
        border: solid 2px #edb964;
        background-color: white;
        margin-bottom: 5px;
        margin-top: 5px;
        font-family: Amatic SC;
        font-size: 1.3em;
        font-weight: 800;
        
    }
}