.contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin: 50px
}
.contact_table {
    border-collapse: collapse;
}
td {
    border-left: 1px solid
}
.table_border {
    border-bottom: 1px solid
}

input, textarea {
    width: 70%;
}