.contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    & h2 {
        margin-top: 70px;
        text-align: center;
        font-size: 3em;
        font-family: Amatic SC;
        margin-bottom: 60px;
    }
    &_table {
        border-collapse: collapse;
        width: 80%;
        font-family: 'Tsukimi rounded';
        margin-left: 40px;
        font-size: 1.2em;
        margin-top: 10px;
    }
    &_horaires {
        display: flex;
        width: 100%;
    }
    &_tache3 {
        width: 25%;
        right: 0;
        position: absolute;
        object-fit: contain;
    }
    &_horaires-title {
        margin-right: 200px;
    }
    &_zone {
        display: flex;
        height: 550px;
        align-items: center;
    }
    &_zone-title {
        margin-left: 200px;
    }
    &_tache {
        width: 15%;
        height: 400px;
    }
    &_map {
        margin-left: 5%;
        width: 45%;
    }
    &_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 35%;
        font-family: 'Tsukimi rounded';
        font-size: 1.2em;
    }
    &_text h3 {
        color: #edb964;
        font-family: Cookie;
        font-size: 3em;
        font-weight: 500;
        margin-block-end: 0;
    }
    &_tache2 {
        width: 35%;
        object-fit: contain;
    }
}

td {
    border-left: 2px solid
}
.table_border {
    border-bottom: 2px solid
}
input, textarea {
    width: 70%;
}
.formulaire {
    display: flex;
    justify-content: space-between;
}

.contact_projet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    gap: 40px;
    font-family: "Tsukimi rounded";
    font-size: 1.2em;
}

.contact_projet h3 {
    margin-bottom: 60px;
    font-size: 3em;
    font-family: Amatic SC;
}

.contact_button {
    font-family: "Tsukimi rounded";
    font-size: 1.2em;
    text-decoration: none;
    border-color: #edb964;
    border-radius: 2em;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 2px;
    color: #edb964;
}