.nav {
    display: flex;
    width: 100%;
    flex-direction: column;

    .nav_bar {
        display: flex;
        justify-content: space-around;
        width: 100%;
        font-family: "Tsukimi Rounded";
        text-decoration: none;
        border-style: solid;
        border-width: 2px;
    }

    .nav_bar a {
        text-align: center;
        color: black;
    }

    .nav_espace {
        display: flex;
        justify-content: flex-end;
    }
}

a {
    text-decoration: none;
}

.nav_bar a.active {
    color: #edb964;
    font-weight: 600;
}