.prestation {
    width: 100%;
    &_tache-container {
        position: relative;
        display: flex;
        justify-content: flex-end;
    }
    &_tache {
        position: absolute;
        width: 25%;
        object-fit: cover;
    }
    &_title {
        text-align: center;
        font-family:  Amatic SC;
        font-size: 3em;
        margin-bottom: 70px;
        margin-right: 140px;
    }
    &_align {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-left: 40px;
    }
    &_align-margin{ 

        margin-top: 40px;
        padding-left: 200px;
    }
    &_card {
        width: 26%;
        position: relative;
    }
    &_option-align {
        display: flex;
    }
    &_tache2-container {
        position: relative;
        width: 30%;
        display: flex;
        align-items: flex-end;
    }
    &_tache2 {
        position: absolute;
        width: 100%;
        object-fit: cover;
        margin-top: -400px;
        z-index: -1;
    }
    &_option {
        width: 65%;
        margin-top: 20px;
    }
    &_option-title {
        font-family: Amatic SC;
        text-align: center;
        font-size: 3em;
        margin-bottom: 70px;
    }
    &_option-text {
        font-family: 'Tsukimi rounded';
        font-size: 1.2em;
    }

}
a, .prestation_button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.prestation_Button {
font-family: "Tsukimi rounded";
font-size: 1.2em;
font-weight: bold;
text-decoration: none;
border-color: #edb964;
border-radius: 2em;
padding: 15px;
border-style: solid;
border-width: 2px;
color: #edb964;
margin-top: 30px;
}